@use '../variables.scss' as *;
@use 'sass:color';

.button {
  padding: $spacing-sm $spacing-lg;
  border: none;
  border-radius: $radius;
  font-weight: 500;
  cursor: pointer;
  transition: $transition;
  display: inline-flex;
  align-items: center;
  gap: $spacing-sm;
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Primary
  &--primary {
    background: $primary;
    color: $white;

    &:hover:not(:disabled) {
      background: color.adjust($primary, $lightness: -10%);
    }
  }

  // Secondary
  &--secondary {
    background: $white;
    color: $gray-dark;
    border: 1px solid $gray;

    &:hover:not(:disabled) {
      background: $gray-light;
    }
  }

  // Danger
  &--danger {
    background: $danger;
    color: $white;

    &:hover:not(:disabled) {
      background: color.adjust($danger, $lightness: -10%);
    }
  }

	&__full{
		width: 100%;
		text-align: center;
		display: block;
	}

	&--icon{
		padding: 0;
	}
}