@use '../variables.scss' as *;

.card {
  background: $gray-light;
  border: 1px solid $gray-light;
  border-radius: $radius;
  padding: $spacing-lg;
  transition: $transition;
	box-shadow: $shadow;
	 user-select: none; 
	

  &:hover {
    box-shadow: $shadow;
    // border-color: $primary;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $spacing-md;
    gap: $spacing-md;
  }

  &__title {
    font-size: $font-lg;
    font-weight: 600;
    color: $gray-dark;
    margin: 0;
    flex: 1;
  }

  &__description {
    color: $gray;
    font-size: $font-sm;
    line-height: 1.5;
    margin-bottom: $spacing-lg;
  }

  &__meta {
    display: flex;
    gap: $spacing-lg;
    padding-top: $spacing-md;
    border-top: 1px solid $gray-light;
  }

  &__meta-item {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }

  &__meta-label {
    font-size: $font-sm;
    color: $gray;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__meta-value {
    font-size: $font-base;
    color: $gray-dark;
    font-weight: 600;
  }

	&__white{
		background-color: $white;
		box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
	}
	
}