@use '../variables.scss' as *;

.form {
  &__label {
    display: block;
    font-weight: 500;
    color: $gray-dark;
  }



  &__input,
  &__textarea {
    width: 100%;
    padding: $spacing-sm $spacing-md;
    border: 1px solid $gray;
    border-radius: $radius;
    font-size: $font-sm;
    transition: $transition;
    cursor: pointer;
	

    &:focus {
      outline: none;
      border-color: $primary;
    }

    &:disabled {
      background: $gray-light;
      cursor: not-allowed;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 100px;
  }

  &__error {
    color: $danger;
    font-size: $font-sm;
    margin-top: $spacing-sm;
    display: block;
  }

  &__select-wrapper {
    position: relative;
    width: 100%;
  }

  &__select-icon {
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: $gray-dark;
    font-size: 12px;
    z-index: 1; 
  }
	&__input--search{
		padding-left: 40px !important;
	}
}

.select {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  padding-right: 36px; 
  border: 1px solid $gray;
  border-radius: $radius;
  font-size: $font-sm;
  background-color: $white;
  cursor: pointer;
  transition: $transition;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border-color: $primary;
  }

  &:hover {
    border-color: $gray-dark;
  }

  &:disabled {
    background: $gray-light;
    cursor: not-allowed;
  }

}

.form__input--with-icons {
  padding-left: 40px;
  padding-right: 40px;
}