
@use '../variables.scss' as *;

.header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  &__logo {
    &-text {
      font-size: 24px;
      font-weight: bold;
      color: $primary;
    }
  }
  
  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    
    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
			background-color:  $primary;
    }
    
    &-name {
      font-size: 16px;
      color: $primary;
    }
  }
}