@use '../variables.scss' as *;

.status {
  padding: $spacing-sm $spacing-md;
  border-radius: $radius;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  display: block;
	text-align: center;

  // Pending status
  &--pending {
    background: #fef3c7;
    color: #92400e;
  }

  // Active status
  &--active {
    background: #dbeafe;
    color: #1e40af;
  }

  // Completed status
  &--completed {
    background: #d1fae5;
    color: #065f46;
  }

  // Planned status
  &--planned {
    background: #e5e7eb;
    color: #374151;
  }
}