
@use '../variables.scss' as *;

.title,
.subtitle,
.text
{
	font-style: normal;

	line-height: 150%;
}

.title
{
	  font-size: $font-lg;
    color: $black;
		font-weight: bold;
		font-weight: 600;
}
.subtitle
{
	  font-size:$font-base;
		font-weight: 600;
}
.text
{
	  font-size:$font-sm;
}