.box-small:not(:last-child)
{
    margin-bottom: 10px;
}
.box:not(:last-child)
{
	margin-bottom: 20px;
}

.box2:not(:last-child)
{
	margin-bottom: 40px;
}
.pointer{
	cursor: pointer;
}
.gap
{
	  gap: 12px;
}
.relative{
	position: relative;
}
.center{
	    text-align: left !important;
}