@use './variables' as *;
@use './helpers';
@use './reset';
@use './blocks/header';
@use './blocks/filters';
@use './blocks/button';
@use './blocks/card';
@use './blocks/status';
@use './blocks/form';
@use './blocks/modal';
@use './blocks/loading';
@use './blocks/typography';
@use './blocks/table';
@use './blocks/notifications';

@import "normalize.css/normalize.css";
@import "flexboxgrid/dist/flexboxgrid.min.css";

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-lg $spacing-lg;
}

#app {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.loading,
.error {
  text-align: center;
  padding: $spacing-lg;
  color: $gray;
}

.error {
  color: $danger;
}
.blue{
	color: $primary;
}
.black{
	color: $black;
}

.gray{
	color: $gray;
}
.gray-bg{
	background-color: $gray;
}

.draggable-container {
  min-height: 200px;
  position: relative;
}

.draggable-list {
  min-height: 200px;
}

.empty-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  opacity: 0.5;
}

.empty-state .small {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}