@use './variables.scss' as *;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $font-family;
  font-size: 16px;
  line-height: $line-height;
  color: $gray-dark;
  background: $white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}